#nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    background-color: rgb(177, 238, 78);
}

#nav li{
    margin: 5px;
    padding: 10px 15px;
}

#nav li:hover{
    background-color: rgba(62, 104, 33, 0.63);
}

#nav a{
    text-decoration: none;
}
/* modelo de caja */
.padre{
    background-color: red;
    padding: 20px;
}
.hijo{
    background-color: aqua;
    padding: 100px;
    border: 10px solid blue;
    margin: 30px;
}
/* componente */
#componente{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(233, 104, 87);
    gap:1rem;
}
.card{
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px black;
}
.card img{
    width: 100%;
    border-radius: 8px;
}
.card p{
    color: #fff;
    background-color: black;
}

/* Carrito  */
#carritoLista{
    list-style: none;
    padding: 10px;
    margin: 10px;
    border: 5px solid rgb(221, 8, 179);
    background-color: rgb(235, 225, 231);
    color: rgb(8, 5, 5);
}

/* concurrencia */

pre{
    text-align: left;
    background-color: black;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    color: greenyellow;
}

/* try catch */
#bodyTry{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mensaje{
    font-weight: bold;
    color: red;
}